<!DOCTYPE html>
<html>
  <body>
    
  <h1>wow that's an odd way to make a list</h1>
  
  <ul>
    <% squares = [1,4,9,16,25,36] %>
    <% squares.each do |square| %>
    <li> <%= square %> </li>
    <% end %>
  </ul>

  
  </body>
</html>