<!DOCTYPE html>
<html>
  <head> 
  <meta charset="UTF-8">
  <title>Your Fortune</title>
  </head>
  <body>
    <h3>Here is your fortune:</h3>
    <h4><%=@the_user%>, <%=@the_fortune%></h4>
  </body>
</html>